<ion-view view-title="About Us">
  <ion-content>
    <div class="item">
      <div class="item item-divider">
        Our History
      </div>
      <div class="item item-text-wrap">
        <p>{{history.first}}</p>
        <p>{{history.second}}</p>
      </div>
    </div>
    <div class="list list-inset">
    <div class="item item-divider">
    	Corporate Leadership
    </div>
    <div class="item item-avatar item-text-wrap" ng-repeat="leader in leaders">
    	<img src="{{baseURL+leader.image}}" alt="{{leader.name}}">
    	<h2>{{leader.name}}</h2>
    	<h4>{{leader.designation}}</h4>
    	<p>{{leader.description}}</p>
    </div>
    </div>
  </ion-content>
</ion-view>
